<%# TASK-068: Edit province page %>
<div class="max-w-2xl mx-auto">
  <div class="mb-6">
    <h1 class="text-2xl font-bold text-gray-900 flex items-center">
      <i class="fa-solid fa-edit text-brand-blue mr-3"></i>
      Chỉnh sửa: <%= @province.name %>
    </h1>
  </div>
  
  <%= render "form" %>
</div>
