<%# TASK-068: Edit province page - Full width %>
<div class="w-full">
  <div class="mb-6">
    <h1 class="text-2xl font-bold text-gray-900 flex items-center">
      <i class="fa-solid fa-edit text-brand-blue mr-3"></i>
      Chỉnh sửa: <%= @province.name %>
    </h1>
    <p class="text-sm text-gray-500 mt-1">Cập nhật thông tin tỉnh/thành phố</p>
  </div>
  
  <%= render "form" %>
</div>
