<%# TASK-068: New province page %>
<div class="max-w-2xl mx-auto">
  <div class="mb-6">
    <h1 class="text-2xl font-bold text-gray-900 flex items-center">
      <i class="fa-solid fa-plus-circle text-brand-blue mr-3"></i>
      <%= t("provinces.new") %>
    </h1>
  </div>
  
  <%= render "form" %>
</div>
